<div class="container text-white" *ngIf = "article">

  <div class="row align-items-center">
    <div class="col-xs-12 col-sm-10 col-md-8 offset-md-2 border form_identity">
      <h2>{{title}}</h2>

      <div class="successt" *ngIf = "status == 'success'">
        El proyecto se ha creado correctamente, puedes <a [routerLink] = "['/detail', save_article._id]">verlo aqui</a>
      </div>
      <div class="failedd" *ngIf = "status == 'failed'">
        EL PROYECTO NO SE HA PODIDO CREAR
      </div>

      <form  #articleForm = "ngForm" (ngSubmit) = "onSubmit(articleForm)" >
        <div class="form-group">
          <label for="name">Nombre del Articulo</label>
          <input type="text" class="form-control" name ="name" #name = "ngModel" [(ngModel)] = "article.name" placeholder="Ingrese el articulo" required/>
          <span class="label label-warning" *ngIf = "name.touched && !name.valid">
            El nombre es obligatorio
          </span>
        </div>
        <div class="form-group">
          <label for="serie">Numero de serie</label>
          <input type="text" class="form-control" name ="serie" #nroSerie = "ngModel" [(ngModel)] = "article.nro_serie" placeholder="Ingrese el numero de serie del articulo" required/>
          <span class="label label-success" *ngIf = "nroSerie.touched && !nroSerie.valid">
            El numero de serie es obligatorio
          </span>
        </div>
        <div class="form-group">
          <label for="mark">Marca</label>
          <input type="text" class="form-control" name ="mark" #marca = "ngModel" [(ngModel)] = "article.marca" placeholder="Ingrese la marca del articulo" required/>
          <span *ngIf = "marca.touched && !marca.valid">
            La marca es obligatoria es obligatorio
          </span>
        </div>
        <div class="form-group">
          <label for="col">Color</label>
          <input type="text" class="form-control" name ="col" #color = "ngModel" [(ngModel)] = "article.color" placeholder="Ingrese el color del articulo" required/>
          <span *ngIf = "color.touched && !color.valid">
            El color es nesesario
          </span>
        </div>
        <div class="form-group">
          <label for="tall">Talla</label>
          <input type="text" class="form-control" name ="tall" #talla = "ngModel" [(ngModel)] = "article.talla" placeholder="Ingrese la talla del articulo" required/>
          <span *ngIf = "talla.touched && !talla.valid">
            La talla es obligatorio
          </span>
        </div>
        <div class="form-group">
          <label for="precio">Precio del Articulo en $</label>
          <input type="number" class="form-control" name ="precio" #precio = "ngModel" [(ngModel)] = "article.precio" placeholder="Ingrese el precio"/>
        </div>

        <div class="form-group">
          <label>Genero al que pertenece el articulo</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" value="Femenino" name="genero" #genero = "ngModel" [(ngModel)] = "article.genero">
              Femenino
            </label>
            <label class="radio-inline">
              <input type="radio" value="Masculino" name="genero" #genero = "ngModel" [(ngModel)] = "article.genero">
              Masculino
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="years">Anio del Articulo</label>
          <input type="number" class="form-control" name ="years" #year = "ngModel" [(ngModel)] = "article.year" placeholder="Ingrese el anio del ariticulo" required>
        </div>

        <div class="form-group">
          Selecciona una categoria de Articulo:
          <select name="category" #category = "ngModel" [(ngModel)] = "article.category">
            <option value="">
            <option value="Prenda en general">Prendas en general
            <option value="Zapatos">Zapatos
            <option value="Abrigo">Abrigos
          </select>
        </div>

        <div class="form-group">
          Selecciona una Subcategoria especifica:
          <select name="subcategory" #subcategory = "ngModel" [(ngModel)] = "article.subcategory">
            <option value="">
            <option value="Moda banio">Moda banio
            <option value="Pantalones cortos">Pantalones Cortos
            <option value="Ropa interior">Ropa interior
            <option value="Camisas">Camisa
            <option value="Trajes">Traje
            <option value="Calcetines">Calcetin
            <option value="Vaqueros">Vaquero
          </select>
        </div>

        <div class="form-group">
          <label for="description">Descripcion del Articulo</label>
          <textarea class="form-control" name ="description" #description = "ngModel" [(ngModel)] = "article.description" placeholder="Escriba una breve descripcion del articulo" required></textarea>
          <span *ngIf = "description.touched && !description.valid">
            La descripcion es nesesaria
          </span>
        </div>

        <div class="form-group">
          <label for="image_front">Cargue una imagen frontal del articulo</label>
          <input type="file" class="form-control" name ="image_front" placeholder="subir imagen 1" (change)="fileChangeEvent($event)"/>
        </div>

        <div class="form-group">
          <label for="image_back">Cargue una imagen tracera del articulo</label>
          <input type="file" class="form-control" name ="image_back" placeholder="subir imagen 2" (change) = "fileChangeEventTwo($event)"/>
        </div>

        <div class="form-group">
          <label for="image_left">Cargue una imagen izquierda del articulo</label>
          <input type="file" class="form-control" name ="image_left" placeholder="subir imagen 3" (change) = "fileChangeEventTres($event)" />
        </div>

        <div class="form-group">
          <label for="image_right">Cargue una imagen derecha del articulo</label>
          <input type="file" class="form-control" name ="image_right" placeholder="subir imagen 4" (change) = "fileChangeEventFor($event)" />
        </div>

        <button type="submit" class="btn btn-primary">{{title_Button}}</button>
      </form>

    </div>
  </div>
  
</div>
