<div class="container">
	<div class="row" >
				
		<div *ngFor = "let article of articles_Female" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 mt-4 mb-4 align-self-center text-center">
			<div class="thumbnail" *ngIf = "article.genero == 'Femenino'">
				<a href="#" target="_blank">
					<img src="{{url+'get-image/'+article.image_front}}" *ngIf = "article.image_front"/>
				</a>
				<div class="caption" style="color: white">
				    <div>{{article.name}}</div>
				    <div>{{article.marca}}</div>
				    <div>{{article.talla}}</div>
				    <div>{{article.precio}}$</div>
				    <button class="btn-info btn-lg btn-block" [routerLink] = "['/detail', article._id]" >VISTA RAPIDA</button>
				</div>
			</div>
		</div>
				

			<!--div class="modal fade" id="myModal" role="dialog">data-toggle="modal" data-target="#myModal"
			    <div  class="modal-dialog modal-lg">
			    
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
			        <div class="modal-body container">

			          <div class="row align-self-center text-center">
			              <div id="demost" class="carousel slide col-sm-6" data-ride="carousel">

			                <ul class="carousel-indicators">
			                  <li data-target="#demost" data-slide-to="0" class="active"></li>
			                  <li data-target="#demost" data-slide-to="1"></li>
			                  <li data-target="#demost" data-slide-to="2"></li>
			                </ul>
			                
			                <div class="carousel-inner">
			                  <div class="carousel-item active">
			                    <img src="{{url+'get-image/'+this.articleD.image_front}}"  width="50%" >
			                  </div>
			                  <div class="carousel-item">
			                    <img src="{{url+'get-image/'+articleD.image_back}}"  width="50%">
			                  </div>
			                  <div class="carousel-item">
			                    <img src="{{url+'get-image/'+articleD.image_left}}"  width="50%">
			                  </div>
			                </div>
			                
			                <a class="carousel-control-prev" href="#demost" data-slide="prev">
			                  <span class="carousel-control-prev-icon"></span>
			                </a>
			                <a class="carousel-control-next" href="#demost" data-slide="next">
			                  <span class="carousel-control-next-icon"></span>
			                </a>
			              </div>
			              <div class="col-sm-6" style="color: white">
			                <h2><strong>{{this.articleD.name}}</strong></h2>
			                <h2><strong>{{this.articleD.marca}}</strong></h2>
			                <h2><strong>{{this.articleD.color}}</strong></h2>
			                <h2><strong>Talla: {{this.articleD.talla}}</strong></h2>
			                <h2><strong>{{this.articleD.precio}}</strong></h2>
			                <h2><strong>{{this.articleD.sexo}}</strong></h2>
			                <h2><strong>{{this.articleD.year}}</strong></h2>
			                <h2><strong>{{this.articleD.category}}</strong></h2>
			                <p class="text-justify">{{this.articleD.description}}</p>

			                <button class="btn-info btn-lg"  >ACTUALIZAR</button>

			                <button class="btn-success btn-lg">COMPRAR</button>

			                <button class="btn-info btn-lg" (click)="deleteArticle(articleD)" data-dismiss="modal" >ELIMINAR</button>
			              </div>
			          </div>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-danger" data-dismiss="modal">cerrar</button>
			        </div>
			      </div>
			      
			    </div>
			  </div-->

			<!-- Modal -->
			  <!--div class="modal fade" id="myModal" role="dialog">
			    <div *ngFor = "let article of articles" class="modal-dialog modal-lg">
			    
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
			        <div class="modal-body container">

			          <div class="row align-self-center text-center">
			              <div id="demost" class="carousel slide col-sm-6" data-ride="carousel">

			                <ul class="carousel-indicators">
			                  <li data-target="#demost" data-slide-to="0" class="active"></li>
			                  <li data-target="#demost" data-slide-to="1"></li>
			                  <li data-target="#demost" data-slide-to="2"></li>
			                </ul>
			                
			                <div class="carousel-inner">
			                  <div class="carousel-item active">
			                    <img src="{{url+'get-image/'+article.image_front}}" alt="" width="50%">
			                  </div>
			                  <div class="carousel-item">
			                    <img src="{{url+'get-image/'+article.image_front}}" alt="" width="50%">
			                  </div>
			                  <div class="carousel-item">
			                    <img src="{{url+'get-image/'+article.image_front}}" alt="" width="50%">
			                  </div>
			                </div>
			                
			                <a class="carousel-control-prev" href="#demost" data-slide="prev">
			                  <span class="carousel-control-prev-icon"></span>
			                </a>
			                <a class="carousel-control-next" href="#demost" data-slide="next">
			                  <span class="carousel-control-next-icon"></span>
			                </a>
			              </div>
			              <div class="col-sm-6" style="color: white">
			                <h2><strong>{{article.name}}</strong></h2>
			                <h2><strong>{{article.marca}}</strong></h2>
			                <h2><strong>{{article.color}}</strong></h2>
			                <h2><strong>Talla: {{article.talla}}</strong></h2>
			                <h2><strong>{{article.precio}}</strong></h2>
			                <h2><strong>{{article.sexo}}</strong></h2>
			                <h2><strong>{{article.year}}</strong></h2>
			                <h2><strong>{{article.category}}</strong></h2>
			                <p class="text-justify">{{article.description}}</p>
			                <button class="btn-success btn-lg">COMPRAR</button>
			              </div>
			          </div>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-danger" data-dismiss="modal">cerrar</button>
			        </div>
			      </div>
			      
			    </div>
			  </div-->
		
	</div>
	
</div>

