/*Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("src/assets/css/fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("src/assets/css/fonts/finger.ttf");
}
@font-face{
	font-family: "Retrow";
	src: url("src/assets/css/fonts/Retrow.ttf");
}
@font-face{
	font-family: "Retrow-Italic";
	src: url("src/assets/css/fonts/Retrow-Italic.ttf");
}
@font-face{
	font-family: "Blacker";
	src: url("src/assets/css/fonts/Blacker.ttf");
}

/*
*{
	margin: 0px;
	padding: 0px;
}
*/

#body{
	/*font-family: "Blacker", Arial, Helvetica;
	font-size: 20px;*/
	/*background: #bd2130;*/
	background: url("../img/Ecommerce.jpg");
	background-attachment: fixed;
}
nav{
	font-family: "Blacker", Arial, Helvetica;
	font-size: 20px;
}
#logo{
	font-size: 25px;
	font-family:  "Retrow-Italic";
	color: #bd2130;
}

.dropdown-menu > a:hover {
    background-color: pink;
    background-image: none;
}

.thumbnail img{
	width: 100%;
	height: 350px;
	/*overflow: hidden;*/
}

/* Formulario de identificacion */

.form_identity{
	background: #bd2130;;
	opacity:0.8; /* Opacidad 60% */ 
}

.active{
	background: rgb(0,0,0,0);
}
.modal > .modal-dialog > .modal-content{
	background-color: #bd2130;
}
.modal > .modal-lg{
	max-width: 80%;
}
.caption > .btn-info{
	color: #000;
    background-color: #dc3535d9;
    border-color: #130f4c;
}

.btn-succes{
	color: #fff;
    background-color: #28a749a3;
    border-color: #28a778;
}

.secondary{
	background: #6c757894;
}