<div class="container text-white">
  <div class="row align-items-center">
    <div class="col-xs-12 col-sm-10 col-md-8 offset-md-2 border form_identity">

      <div class="nav nav-tabs">
        <div class="nav-item">
          <button class="btn nav-link" (click)="eventForm('login')" [routerLink] = "['/login']" [routerLinkActive] = "['active']">
            YA ESTA REGISTRADO? 
          </button>
        </div>
        <div class="nav-item">
          <button class="btn nav-link" (click)="eventForm('register')" [routerLink] = "['/register']" [routerLinkActive] = "['active']">
            NUEVO USUARIO
          </button>
        </div>
      </div>

  
      <form action="/action_page.php" #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
        <h2>Identificarse</h2>
        <div class="form-group">
          <label for="email-1">Correo:</label>
          <input type="text" class="form-control" id="email-1" placeholder="Ingrese su correo" name="email-1" #email="ngModel" [(ngModel)]="loginUser.email" required>
          <span *ngIf="email.touched && !email.valid">
            El correo es obligatorio
          </span>
          
        </div>

        <div class="form-group">
          <label for="pwd-1">Contrasenia:</label>
          <input type="password" class="form-control" id="pwd-1" placeholder="Ingrese su contrasenia" name="pwd-1" #password="ngModel" [(ngModel)]="loginUser.password" required>
          <span *ngIf="password.touched && !password.valid">
            La contrasenia es obligatoria
          </span>
        </div>

        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember" required> Recordar contrasenia.
            
          </label>
        </div>

        <button type="submit" class="btn btn-success mb-3" [disabled]="!formLogin.form.valid" >Iniciar Sesion</button>
      </form> 
    </div>
    
  </div>
  
</div>
