
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a id="logo" class="navbar-brand" href="#">SHOPNG STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/home']" [routerLinkActive] = "['actived']" (click) = "onClickHome()" >INICIO</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/varon']" [routerLinkActive] = "['actived']" (click) = "onClickmale()">HOMBRE</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/mujer']" [routerLinkActive] = "['actived']" (click) = "onClickFemale()">MUJER</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/contacto']" [routerLinkActive] = "['actived']">CONTACTO</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/crear-art']" [routerLinkActive] = "['actived']">CREAR ARTICULOS</a>
      </li>

    </ul>
    
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    <!-- Login Register -->
    <div class="nav-item mr-2 ml-2">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle " type="button"  data-toggle="dropdown" id="navbarDropdownLogin" data-placement="bottom">
          <img src="../assets/img/person_identify.jpeg">
        </button>

        <div class="dropdown-menu dropdown-menu-right">
          <div class="btn-group">
                <button class="btn" [routerLink] = "['/login']" [routerLinkActive] = "['actived']">Login</button>
                <button class="btn" [routerLink] = "['/register']" [routerLinkActive] = "['actived']" >Register</button>               
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          NOVEDADES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver todo</a>
          <a class="dropdown-item" href="#">Ropa</a>
          <a class="dropdown-item" href="#">Zapatos</a>
          <a class="dropdown-item" href="#">Abrigos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PRENDA DE VESTIR
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:4200/{{route}}" (click)="sendEvt('Moda banio')">Moda banio</a>
          <a class="dropdown-item" href="http://localhost:4200/{{route}}" (click)="sendEvt('Pantalones cortos')">Pantalones cortos</a>
          <a class="dropdown-item" href="http://localhost:4200/{{route}}" (click)="sendEvt('Ropa interior')">Ropa interior</a>
          <a class="dropdown-item" href="http://localhost:4200/{{route}}" (click)="sendEvt('Camisas')">Camisas</a>
          <a class="dropdown-item" href="http://localhost:4200/{{route}}" (click)="sendEvt('Trajes')">Trajes</a>
          <a class="dropdown-item" href="http://localhost:4200/{{route}}" (click)="sendEvt('Calcetines')">Calcetines</a>
          <a class="dropdown-item" href="http://localhost:4200/{{route}}" (click)="sendEvt('Vaqueros')">Vaqueros</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ZAPATOS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Botas</a>
          <a class="dropdown-item" href="#">Chanclas</a>
          <a class="dropdown-item" href="#">Sandalias</a>
          <a class="dropdown-item" href="#">Tenis Deportivos</a>
          <a class="dropdown-item" href="#">Zapatos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ABRIGOS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Invierno</a>
          <a class="dropdown-item" href="#">Chamarras</a>
          <a class="dropdown-item" href="#">Chompas</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MARCAS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Nike</a>
          <a class="dropdown-item" href="#">Puma</a>
          <a class="dropdown-item" href="#">Sik Sil</a>
          <a class="dropdown-item" href="#">Vans</a>
        </div>
      </li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer id="sticky-footer" class="py-5 bg-dark text-white-50 mt-5">
    <div class="container text-center">
      <small>&copy; Tu Sitio Web</small>
    </div>
</footer>
