
	<div class="container" *ngIf="article">
		
		<div class="row align-self-center text-center border border-dark rounded secondary">
	        <div id="demost" class="carousel slide col-sm-6 mt-5 mb-5" data-ride="carousel">

	            <ul class="carousel-indicators">
	                  <li data-target="#demost" data-slide-to="0" class="active"></li>
	                  <li data-target="#demost" data-slide-to="1"></li>
	                  <li data-target="#demost" data-slide-to="2"></li>
	            </ul>
	                
	            <div class="carousel-inner">
	                <div class="carousel-item active" *ngIf = "article.image_front">
	                    <img src="{{url+'get-image/'+article.image_front}}" *ngIf = "article.image_front" width="50%" >
	                </div>
	                <div class="carousel-item" *ngIf = "article.image_back" >
	                    <img src="{{url+'get-image/'+article.image_back}}" *ngIf = "article.image_back" width="50%">
	                </div>
	                <div class="carousel-item" *ngIf = "article.image_left" >
	                    <img src="{{url+'get-image/'+article.image_left}}" *ngIf = "article.image_left" width="50%">
	                </div>
	            </div>
	                
	            <a class="carousel-control-prev" href="#demost" data-slide="prev">
	                <span class="carousel-control-prev-icon"></span>
	            </a>
	            <a class="carousel-control-next" href="#demost" data-slide="next">
	                <span class="carousel-control-next-icon"></span>
	            </a>
	        </div>
	        <div class="col-sm-6" style="color: white">
	                <h2><strong>{{article.name}}</strong></h2>
	                <h2><strong>{{article.marca}}</strong></h2>
	                <h2><strong>{{article.color}}</strong></h2>
	                <h2><strong>Talla: {{article.talla}}</strong></h2>
	                <h2><strong>{{article.precio}}$</strong></h2>
	                <h2><strong>{{article.sexo}}</strong></h2>
	                <h2><strong>{{article.year}}</strong></h2>
	                <h2><strong>{{article.category}}</strong></h2>
	                <p class="text-justify">{{article.description}}</p>

	                <button class="btn-warning btn-lg mr-2" [routerLink] = "['/editar-articulo', article._id] "  >ACTUALIZAR</button>

	                <button class="btn-success btn-lg mr-2 ml-2">COMPRAR</button>

	                <button class="btn-info btn-lg ml-2" (click)="deleteArticle(article._id)"  >ELIMINAR</button>
	        </div>
	    </div>
	</div>

