<div class="container text-white">
  <div class="row align-items-center">
    <div class="col-xs-12 col-sm-10 col-md-8 offset-md-2 border form_identity">

      <div class="nav nav-tabs">
        <div class="nav-item">
          <button class="btn nav-link " (click)="eventForm('login')" [routerLink] = "['/login']" [routerLinkActive] = "['active']">
            YA ESTA REGISTRADO? 
          </button>
        </div>
        <div class="nav-item">
          <button class="btn nav-link" (click)="eventForm('register')" [routerLink] = "['/register']" [routerLinkActive] = "['active']">
            NUEVO USUARIO  
          </button>
        </div>
      </div>

      
  
      <form action="/action_page.php" #formRegister="ngForm" (ngSubmit)="onSubmit(formRegister)">
        <h2>Registrar</h2>

        <div class="form-group">
          <label for="firstname">Nombre:</label>
          <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" name="firstname" #name="ngModel" [(ngModel)]="registerUser.name" required pattern="[a-zA-Z]+">
          <span *ngIf="name.touched && !name.valid">
            El nombre es obligatorio
          </span>
          
        </div>

        <div class="form-group">
          <label for="lastname">Apellido:</label>
          <input type="text" class="form-control" id="lastname" placeholder="Ingrese su apellido" name="lastname" #surname="ngModel" [(ngModel)]="registerUser.surname" required pattern="[a-zA-Z]+">
          <span *ngIf="surname.touched && !surname.valid">
            El apellido es obligatorio
          </span>
          
        </div>

        <div class="form-group">
          <label for="genero">Genero:</label>
          <input type="text" class="form-control" id="genero" placeholder="Ingrese M o F" name="genero" #genero="ngModel" [(ngModel)]="registerUser.genero" required pattern="[a-zA-Z]+">
          <span *ngIf="genero.touched && !genero.valid">
            El Genero es obligatorio
          </span>
          
        </div>

        <div class="form-group">
          <label for="mail">Correo:</label>
          <input type="text" class="form-control" id="mail" placeholder="Ingrese su correo" name="mail" #email="ngModel" [(ngModel)]="registerUser.email" required>
          <span *ngIf="email.touched && !email.valid">
            El email es obligatorio
          </span>
          
        </div>

        <div class="form-group">
          <label for="pwd">Contrasenia:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Ingrese su contrasenia" name="pwd" #password="ngModel" [(ngModel)]=registerUser.password required>
          <span *ngIf="password.touched && !password.valid">
            El password es obligatorio
          </span>
          
        </div>

        <div class="form-group">
          <label for="rol">Rol:</label>
          <input type="text" class="form-control" id="rol" placeholder="cliente o administrador" name="rol" #rol="ngModel" [(ngModel)]="registerUser.rol" required pattern="[a-zA-Z]+">
          <span *ngIf="rol.touched && !rol.valid">
            El rol es obligatorio
          </span>
          
        </div>

        <div class="form-group form-check ">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Acepto los terminos.
            
          </label>
        </div>

        <button type="submit" class="btn btn-success mb-3" [disabled]="!formRegister.form.valid" >Registrar</button>
      </form> 
    </div>
    
  </div>
  
</div>
