<div class="container">
  <tr></tr>
  <div class="row">
    
        <div id="demo" class="carousel slide m-5 col-md-10 col-xs-12s align-self-center" data-ride="carousel">

          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/slideOferts/slide2.png" alt="" width="100%" height="450">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/slideOferts/slide1.png" alt="" width="100%" height="450">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/img/slideOferts/slide3.png" alt="" width="100%" height="450">
            </div>
          </div>
          
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
    
  </div>
  

  <div class="row">
    <div  *ngFor = "let article of articles" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 mt-4 mb-4 align-self-center text-center">
        <div class="thumbnail">
          <a href="#" target="_blank">
            <img src="{{url+'get-image/'+article.image_front}}" *ngIf = "article.image_front"/>
          </a>
          <div class="caption" style="color: white">
            <div>{{article.name}}</div>
            <div>{{article.marca}}</div>
            <div>{{article.talla}}</div>
            <div>{{article.precio}}$</div>
            <button class="btn-info btn-lg btn-block" [routerLink] = "['/detail', article._id]" data-toggle="modal" data-target="#myModal">VISTA RAPIDA</button>
          </div>
        </div>
    </div>
  </div>
</div>

